h1{
    text-align: center;
}

.colorPicker{
    border: none;
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.drawSpace{
    display: flex;
    justify-content: center;
}

#container{
    display: grid;
    width: 480px;
    height: 480px;
}

.square{
    height: 100%;
    width: 100%;
    border: 1px solid grey;
}

.hover{
    background-color: grey;
}