h1{
    text-align: center;
}

.drawSpace{
    display: flex;
    justify-content: center;
}

#container{
    display: grid;
    width: 480px;
    height: 480px;
}

.square{
    height: 100%;
    width: 100%;
    border: 1px solid grey;
    background-color: azure;
}

.hover{
    background-color: grey;
}