h1{
    text-align: center;
}

.drawSpace{
    display: flex;
    justify-content: center;
}

#container{
    display: grid;
    width: 960px;
    height: 960px;
}

.grid-cell{
    height: 100%;
    width: 100%;
    border: 1px solid grey;
    background-color: azure;
}